<p id="notice"><%= notice %></p>

<h1>My Wineries</h1>

<table>
  <thead>
    <tr>
      <th>My wine cellar</th>
      <th>Winery</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_wineries.each do |my_winery| %>
      <tr>
        <td><%= my_winery.my_wine_cellar_id %></td>
        <td><%= my_winery.winery_id %></td>
        <td><%= link_to 'Show', my_winery %></td>
        <td><%= link_to 'Edit', edit_my_winery_path(my_winery) %></td>
        <td><%= link_to 'Destroy', my_winery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My Winery', new_my_winery_path %>
